<p>hello works!</p>

7 56756 756 756
<div>
     Bài viết số 2 6757 567 5
     546 54u grejkgy 54 54 
      54 6
      
  </div>
<div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"class="form-control" />
    </label>
  </div>
<ul class="heroes">
  <li *ngFor="let item of heroes;let i = index" (click)="onSelect(item,i)"
  [ngClass]="{'this-is-a-class': heroselect!==undefined && item.id === heroselect.id }"

  >
    <span class="badge">{{item.id}}</span> {{item.name}}
  </li>
</ul>
<input [ngAutonumeric]="optionNumber" 
ngAutonumeric 
[(ngModel)]="myModel" 
 />
{{myModel}}
<app-hero-detail [hero]="heroselect"></app-hero-detail>
